<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

  </head>
  <body>
    <div class="wrapper">
      <h1>OTP generator</h1>
      <form class="" action="/" method="post">
        <input id="in" type="text" name="input" value="" minlength="6" maxlength="6" required size="0" autocomplete="off">
        <button type="submit" name="button">Enter</button>
      </form>
  <br>
<!--       <button   id="myBtn" type="button" name="button">Token</button> -->
<div>
  
 <h2>One Time Password: <%=token %>.</h2>
 <h2>
  This will be changed within 30 second
 </h2>

</div>
    </div>
<!--
 <script type="text/javascript" src="alert.js"> 

</script>
-->
  </body>
</html>
